* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: sans-serif;
}

.wrapper {
    height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 10px;
    height: 10%;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    border: 0;
    padding: 10px;
    background-color: #006aae;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    transition: all 1s;
}

.container-game {
    margin: 0 auto;
    /* height: 80%; */
    max-height: 600px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    position: relative;
    background-image: url(../img/prato-snake.jpg);
}

.snake {
    width: 40px;
    aspect-ratio: 1 / 1;
    background-image: url(../img/snake.png);
    position: absolute;
    z-index: 2222;
}

.snake-body {
    width: 40px;
    aspect-ratio: 1 / 1;
    background-image: url(../img/body-snake.png);
    position: absolute;
    
}

.opacity0 {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.point {
    width: 40px;
    aspect-ratio: 1 / 1;
    background-image: url(../img/fruit.png);
    position: absolute;
    z-index: 1;
}

.message {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    border-radius: 10px;
    transition: all 1s;
    z-index: 9999;
    background-color: white;
    width: 100%;
    text-align: center;
}