* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.wrapper {
    height: 100vh;
}

.container {
    margin: 0 auto;
    height: 10%;
    width: 90%;
    text-align: center;
}

.container-game {
    margin: 0 auto;
    /* height: 80%; */
    max-height: 600px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    position: relative;
    background-image: url(../img/prato-snake.jpg);
}

.snake {
    width: 40px;
    aspect-ratio: 1 / 1;
    background-image: url(../img/snake.png);
    position: absolute;
    z-index: 9999;
    
}

.snake-body {
    width: 40px;
    aspect-ratio: 1 / 1;
    background-image: url(../img/body-snake.png);
    position: absolute;
    
}

.opacity0 {
    opacity: 0;
}

.point {
    width: 40px;
    aspect-ratio: 1 / 1;
    background-image: url(../img/fruit.png);
    position: absolute;
    z-index: 1;
}